// https://coolors.co/000000-14213d-81005e-e5e5e5-ffffff

/* SCSS HSL */
$black: hsla(0, 0%, 0%, 1);
$oxford-blue: hsla(221, 51%, 16%, 1);
$byzantium: hsla(316, 100%, 25%, 1);
$platinum: hsla(0, 0%, 90%, 1);
$white: hsla(0, 0%, 100%, 1);

:root {
  /* CSS HSL */
  --black: hsla(0, 0%, 0%, 1);
  --oxford-blue: hsla(221, 51%, 16%, 1);
  --byzantium: hsla(316, 100%, 25%, 1);
  --platinum: hsla(0, 0%, 90%, 1);
  --white: hsla(0, 0%, 100%, 1);
}

body {
  font-family: sans-serif;
  color: var(--text);

  // * General
  p {
    color: var(--text);
  }

  a {
    color: var(--accent-light);
    // text-decoration: none;

    &:visited {
      color: var(--accent-light);
    }
  }

  // * Header
  header {
    background-color: var(--background-inverse);
    color: var(--text-inverse);
  }

  // * Main
  main {

  }

  // * Footer
  footer {
    background-color: var(--background-light);
  }

  // * Form
  form#tripForm {
    background-color: var(--background-light);

    input, select {
      margin-top: 0.25rem;
      border: 1px solid var(--background);
      border-radius: 3px;
    }

    button[type=submit] {
      background-color: var(--accent);
      color: var(--text-inverse);
      border: none;
      border-radius: 3px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
