
body, body[theme=light] {
  --background: #{$platinum};
  --background-light: #{lighten($platinum, 5%)};
  --background-inverse: #{$usafa-blue};

  --text: $usafa-blue;
  --text-light: #{lighten($usafa-blue, 10%)};
  --text-inverse: white;
  --text-error: red;

  --accent: #{$byzantium};
  --accent-light: #{lighten($byzantium, 6%)};
}
